<div class="salary-graphic-grid-container">
	<div class="salary-graphic-grid-item" id="salary-bonus">
		<p>Bonus</p>
	</div>
	<div class="salary-graphic-grid-item" id="salary-teamcredit">
		<p>Team credit</p>
	</div>
	<div class="salary-graphic-grid-spacer" id="salary_spacertop">
		+
	</div>
	<div class="salary-graphic-grid-item dynamic-section" id="salary_time">
		<p>Time at company</p>
	</div>
	<div class="salary-graphic-grid-item dynamic-section" id="salary_softskills">
		<p>Softskills</p>
	</div>
	<div class="salary-graphic-grid-item dynamic-section" id="salary_hardskills">
		<p>Hardskills</p>
	</div>
	<div class="salary-graphic-grid-spacer" id="salary-spacer-bottom">
		+
	</div>
	<div class="salary-graphic-grid-item static-section" id="salary-role">
		<p>Role compensation</p>
	</div>
	<div class="salary-graphic-grid-item static-section" id="salary-location">
		<p>Location </p>
	</div>
	<div class="salary-graphic-grid-item static-section" 
		id="salary-base">
		<p>Base salary</p>
	</div>
	<div class="salary-graphic-grid-item static-section" id="static-explanation">
		<p>Static salary of {{this.static_salary_value | currency:'':'symbol':'3.0'}}</p>
	</div>
	<div class="salary-graphic-grid-item dynamic-section" id="dynamic-explanation">
		<p>12 / 100 Points attained resulting in an addition of {{12000 | currency:'':'symbol':'3.0'}}</p>
	</div>
</div>