<div>
	<b>
	</b>
	<div class="salary-tower">
		<mat-grid-list cols="1" rowHeight="5:1" gutterSize="7">
			<mat-grid-tile class="bonus" onclick="">
				<div class="salary-tower-element">
					<b>Bonus</b>

				</div>
			</mat-grid-tile>
			<mat-grid-tile class="spacer">
				<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>

			</mat-grid-tile>
			<mat-grid-tile class="social">
				<b>Time At The Company</b>
			</mat-grid-tile>
			<mat-grid-tile class="social">
				<b>Softskills</b>
			</mat-grid-tile>
			<mat-grid-tile class="social">
				<b>Hardskills</b>
			</mat-grid-tile>
			<mat-grid-tile class="skills">
				<b>Role Compensation</b>
			</mat-grid-tile>
			<mat-grid-tile class="location">
				<b>Location Compensation</b>
			</mat-grid-tile>
			<mat-grid-tile class="basic">
				<b>Base Salary</b>
			</mat-grid-tile>
		</mat-grid-list>
	</div>

</div>