.salary-graphic-grid-container {
	height: 100%;
	width: 40%;

	display: grid;

	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto auto;
	grid-template-areas:
		"Bonus"
		"Time"
		"Softskills"
		"Hardskills"
		"Role"
		"Location"
		"Base"
	;
	grid-gap: 5px;
}

.salary-graphic-grid-item {
	background-color: white;

	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
}

.salary-graphic-grid-item:hover {
	cursor: pointer;
	border: 1px solid black;
}
