mat-grid-tile:hover {
	border: 2px solid black;
	cursor: pointer;
}

mat-grid-list{
	width: 50%;
	height: 100%;
}

.salary-tower {
	display: flex;
	justify-content: space-between;

	background-color: rgb(221, 213, 213);
	color: white;

	flex-basis: 20px;
	flex-grow: 1;

	z-index: 1;
}

.bonus {
	background-color: rgb(79, 204, 6);
}

.spacer {}

.location {
	background-color: rgb(38, 121, 93);
}

.basic {
	background-color: rgb(29, 32, 22);
}

.social {
	background-color: rgb(50, 205, 120);
}


.skills {
	background-color: rgb(28, 136, 50);
}