<div class="flex-container">
	<div class="flex-item">
		<mat-card class="card-content">
			<mat-card-header>
				<mat-card-title>
					<b>Basis</b>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				Basis content
			</mat-card-content>
		</mat-card>
	</div>
	<div class="flex-item">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<b>Location</b>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				Location content
			</mat-card-content>
		</mat-card>
	</div>
	<div class="flex-item">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<b>Role</b>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				Role content
			</mat-card-content>
		</mat-card>
	</div>
</div>