<h2>Static Salary Range</h2>

<div #salaryStaticDetailsSection class="flex-container">
	<div class="flex-item">
		<h3>Base Salary</h3>
		<br>
		<br>

		<p>The Mindfuel global base salary is</p>
		<h4>{{this.basis_salary_value | currency:'':'symbol':'3.0'}}</h4>
	</div>
	<div class="flex-item">
		<h3>Location</h3>
		<br>
		<br>

		<div *ngIf="this.location && this.location[0]">
			<p>Your location is </p>
			<h4>{{this.location[0].name}}!</h4>
			<p>
				This adds {{this.location[0].salary| currency:'':'symbol':'3.0'}} to your base salary.</p>
		</div>
	</div>
	<div class="flex-item">
		<h3>Role</h3>
		<br>
		<br>
		<div *ngIf="this.employee_role && this.employee_role[0]">
			<p>Your role is </p>
			<h4>{{this.employee_role[0].name}}!</h4>
			<p>
				This adds {{this.role_salary_value| currency:'':'symbol':'3.0'}} to your base salary.</p>
		</div>
	</div>
</div>