<nav>
	<mat-toolbar>
		<span class="heading-title">
			Salary Transparency @
		</span>
		<img src="../assets/logos/Mindfuel_Logo-white_RGB@2x.png" height="40%" class="logo">
		<span class="example-spacer"></span>
		<section>
			<div class="nav-button-row">
				<div class="nav-flex-container">
					<div class="nav-button-container">
						<button mat-flat-button routerLink="salary-overview">
							<b>Salary Overview</b>
						</button>
					</div>
					<div class="nav-button-container">
						<button mat-flat-button routerLink="skill-tree" routerLinkActive="">
							<b>Skill Tree</b>
						</button>
					</div>
					<div>
						<button mat-fab class="example-icon" color="accent" routerLink="landing-page"
							routerLinkActive="" aria-label="Home button.">
							<mat-icon>home</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</section>
	</mat-toolbar>
</nav>
<br>
<br>
<br>
<!-- pages are 'rendered' here -->
<router-outlet>
</router-outlet>
