<div class="flex-container">
	<div class="flex-item">
		<mat-card class="card-content">
			<mat-card-header>
				<mat-card-title>
					<b>Hardskills</b>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				Hardskill content
			</mat-card-content>
		</mat-card>
	</div>
	<div class="flex-item">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<b>Softskills</b>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				Softskill content
			</mat-card-content>
		</mat-card>
	</div>
	<div class="flex-item">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					<b>Time at company</b>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				Time at company content
			</mat-card-content>
		</mat-card>
	</div>
</div>