<div class="skill-tree-page-container">
    <div class="skill-tree-header">
        <h1>Skill-Tree</h1>

        <p>Hello {{employee.name}}, you are currently a {{role?.name}}.</p>
        <p>
            Want to reach new goals? We at Mindfuel always look out for new challenges!
        </p>
    </div>
    <div class="layout-grid">
        <div class="carrer-track-container">
            <h3>
                You could go for these following roles on your career track:
            </h3>

            <div *ngFor="let role of followingRoles" class="following-roles-container">
                <div class="following-roles-item">

                    <h4>
                        <mat-icon>school</mat-icon> {{ role.name }}
                    </h4>
                </div>
            </div>
        </div>
        <div class="skill-collection-container">
            <h3>Your current role benefits from following skills:</h3>

            <div *ngFor="let category of your_categories">
                <p class="role-category">
                    <mat-icon>
                        chevron_right
                    </mat-icon>
                    {{category.name}}, fulfillment of {{getRequiredAmountOfCategory(category.id!)}} expected
                </p>
                <br>
                <ul *ngFor="let skill of getfilteredSkills(category.id!)">
                    <li>
                        <p>
                            {{ skill.name }}, currently at level {{getFullfillmentOfSkill(category.id!)}}
                        </p>
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </div>




    <img src="../../assets/logos/MF-Icon-Change.svg" alt="Logo for change" height="20%"
        style="float: right; position: absolute; z-index: 1;">

</div>