<body>
    <h1>Skill-Tree</h1>

    <p>Hello {{employee_name}}, you are currently a {{employee_role}}.</p>
    <p>Want to reach new goals? We at Mindfuel always look out for new challenges!</p>

    <img src="../../assets/logos/MF-Icon-Change.svg" alt="Logo for change" height="20%">



    <div *ngFor="let role of roles$ | async; trackBy: identifyList">
        <p>{{ role.name }} {{role.id}}</p>
    </div>
    <div *ngFor="let emp of employee$ | async; trackBy: identifyEmployee">
        <p>{{ emp.name }} {{emp.id}}</p>
    </div>



</body>