<div class="skill-tree-page-container">
	<div class="skill-tree-header">
		<h1>Skill-Tree</h1>

		<p>Hello {{employee.name}}, you are currently a {{role?.name}}.</p>
		<p>
			Want to reach new goals? We at Mindfuel always look out for new challenges!
		</p>
	</div>
	<div class="layout-grid">
		<div class="carrer-track-container">
			<h3>
				You could go for these following roles on your career track:
			</h3>

			<div *ngFor="let role of followingRoles" class="following-roles-container">
				<div class="following-roles-item">
					<h4>{{ role.name }}</h4>
				</div>
			</div>
		</div>
		<div class="skill-collection-container">
			<h3>Your current role affords following skills:</h3>

			<div *ngFor="let category of your_categories" style="font-weight: bold;">
				<p>{{category.name}}, needs fulfillment of {{getRequiredAmountOfCategory(category.id!)}}</p>
				<div *ngFor="let skill of your_skills" style="font-weight: normal;">
					<p>-- {{ skill.name }}, current fulfillment of {{getFullfillmentOfSkill(skill.id!)}}</p>
				</div>
			</div>
		</div>
	</div>




	<img src="../../assets/logos/MF-Icon-Change.svg" alt="Logo for change" height="20%"
		style="float: right; position: absolute; z-index: 1;">

</div>