<p class="welcome"> WELCOME BACK</p>
<h1>{{name}},</h1>
<div class="wrapIt"><p>to your skill management framework, where you have a transparent overview on your accumulated
  know-how, the necessary skills to step up in your career and the structure of your paycheck, all in one Tool!</p>
</div>

<button mat-stroked-button class="overview"><a href="/salary-overview">Overview</a></button>
<!--<button mat-flat-button><a href="mailto:hr@mindfuel.ai">Contact HR</a></button>-->

<img class="splash" src="../../assets/logos/MF-Icon-Support1.svg">

<p class="welcome, welcome2"> What makes our Framework special:</p>
<div class="rows">
  <div class="children">
    <img class="logo" src="assets/transparency_1355174.png">
    <h2 class="labels" >Transparency</h2>
  </div>
  <div class="children">
    <img class="logo" src="assets/self-growth_1184800.png">
    <h2 class="labels">Professional Growth</h2>
  </div>
  <div class="children">
    <img class="logo" src="assets/turn_854959.png">
    <h2 class="labels">Flexibility</h2>
  </div>

</div>

