// this is just for developing purposes
mat-grid-tile {
  background: rgb(150, 150, 150);
}

.main-frame{
	width: 100%;
}

.image_optimization {
    position: absolute;
    bottom: 2%;
    right: 20px;
    height: 5%;
}