// this is just for developing purposes
mat-grid-tile {
  background: rgb(79, 214, 255);
	overflow: hide;
}

mat-grid-list{
	display: flex;

	justify-content: space-between;
	align-content: space-around;
	flex-direction: row;

	align-items: center;
}

.mat-grid-tile-content{
	flex-grow: 1;
}