<p>salary-overview for {{name}}</p>
<div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div class="bars">
            <mat-grid-list cols="1" rowHeight="5:1">
                <mat-grid-tile (click)="onSave()" class="social">Social Component</mat-grid-tile>
                <mat-grid-tile class="skills">Skill based Amount</mat-grid-tile>
                <mat-grid-tile class="location">Location Compensation </mat-grid-tile>
                <mat-grid-tile class="basic">Basic Salary</mat-grid-tile>
            </mat-grid-list>
        </div>

        <img src="../../assets/logos/MF-Icon-Optimization.svg" class="image_optimization">
    </div>