h1 {
  font-family: 'OpenSauceOne-Bold';
  font-size: 90px;
}

h2 {
  font-family: 'OpenSauceOne-Bold';
  font-size: 55px;
}

h3{
	font-family: 'OpenSauceOne-Bold';
	font-size: 35px;
}

.main-grid-container{
	padding: 20px 20px 20px 20px;

	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 45vh 55vh 55vh;
	grid-template-areas: 
		"overview-information salary-graphic"
		"static-information static-information"
		"dynamic-information dynamic-information"
		;
	grid-gap: 60px 60px;
	grid-auto-flow: dense;
}

.main-grid-item{
	padding: 20px 20px 20px 20px;
	background-color: #ededed;

	
}
#main-overview-information{
	grid-area: overview-information;

}

#main-salary-graphic{
	grid-area: salary-graphic;
}

#main-static-information{
	grid-area: static-information;
}

#main-dynamic-information{
	grid-area: dynamic-information;
}