<p>salary-overview for {{name}}</p>

<div class="main-frame">
	<mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
		<mat-grid-tile>1</mat-grid-tile>
		<mat-grid-tile>
			<app-salary-graphic></app-salary-graphic>
		</mat-grid-tile>
		<mat-grid-tile colspan="2">
			<b>static salary stuff goes here</b>
		</mat-grid-tile>
		<mat-grid-tile colspan="2">
			<b>dynamic salary stuff goes here</b>
		</mat-grid-tile>
	</mat-grid-list>
	<p>
		<img src="../../assets/logos/MF-Icon-Optimization.svg" class="image_optimization">
	</p>
</div>