/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

.mat-toolbar {
    background-color: rgb(0, 33, 33);
}

a {
    color: rgb(0, 33, 33);
    text-decoration: none;
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url('~src/fonts/OpenSauceOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSauceOne-Bold';
  src: url('~src/fonts/OpenSauceOne-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: 'OpenSauceOne';
  //font-weight: Bold;
  font-size: x-large;
  line-height: normal;
}

h1 {
	margin-top: 20px;
  font-family: 'OpenSauceOne-Bold';
  font-size: 90px;
}

h2 {
	margin-top: 20px;
  font-family: 'OpenSauceOne-Bold';
  font-size: 55px;
}
